{%extends 'app/base.html'%}
{% load static %}

{%block title%}
    Search
{% endblock %}

{% block register%}
    <h4>Result searched for: {{searched}}</h4>
    <br/>
    <div class="row" style="width:100%;">
    {%for key in keys%}
        <div class="col-lg-3">
            <img src="{{key.get_image_url}}" class="thumbnail">
            <div class="box-element product">
                <h6><strong>{{key.name}}</strong></h6>
                <hr>
                <button data-product={{key.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Thêm vào giỏ hàng</button>
                <a class="btn btn-outline-success" href="{% url 'detail' %}?id={{key.id}}">Xem</a>
                <h3 style="display: inline-block; float: right"><strong>{{key.price}}</strong></h3>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

